html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #9edce0;
  background: rgb(243, 250, 255);
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}
#main-container {
  height: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 8%;
  
}
.header {
  text-align: center;
  text-decoration: underline;
  margin: 10px;
  font-family: "Century Gothic";
  font-family: "Quicksand", sans-serif;
}

#main-header{
  margin-top: 100px;
  margin-bottom: 20px;
}

#demo-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
}

.demo-container-children {
  background: #ffffff;
  /* border: 2px solid rgb(173, 173, 173); */
  border: 1px solid #ccc;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  width: 400px;
  height: 480px;
  /* box-shadow: 1px 4px 5px 0px rgb(190, 190, 190); */
  box-shadow: 0px 0px 0px 0px rgb(190, 190, 190);
  margin: 10px 5px 15px 5px;
  bottom: 0px;
  position: relative;
  transition: 0.2s;
  overflow: auto;
}
.demo-container-children:hover{
  border: 2px solid #4c6b81;
  box-shadow: 0px 4px 8px 1px rgb(190, 190, 190);
  position: relative;
  bottom: 5px;
} 


.description {
  font-size: 15px;
  padding: 0px;
  margin-bottom: 12px;
}

button {
  /* position: relative; */
  /* border: 1px solid black; */
  border: none;
  color: #4c6b81;
  border: 2px solid #4c6b81;
  border-radius: 5px;
  width: 100px;
  /* background-color: #003459; */
  background: white;
  
  

  /* font-family: "Century Gothic" !important;font-family: "Roboto", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  transition: 0.35s;

  -webkit-animation: button-expand 2.5s linear; /* Safari 4.0 - 8.0 */
  animation: button-expand 2.5s linear;
  animation-timing-function: ease-in-out;

  overflow: hidden;
}
button:hover {
  
  background: #42688f;
  border: 2px solid #4c6b81;
  
  color: white;
}

/**************modal css**************/
/*Style the Image Used to Trigger the Modal*/
.myImg {
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
  transition: 0.2s;
  opacity: 0.4;
  
}

.landscape{
  width: 80%;
}

/*The Modal (background)*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */

  overflow: hidden;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 600px;
  /* height: 90%; */
  max-width: 100%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  /* height: 150px; */
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
#close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close:hover,
#close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* mvrg logo */
#nav-container{
  z-index: 100;
  text-align: center;
  position: fixed;
  width: 100%;
  background: rgb(255, 255, 255);
  top: 0;
  
  box-shadow: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.nav-height{
  height: 78px;
}
.nav-animation-forward{
  -webkit-animation: nav-animation-forward 0.5s linear; /* Safari 4.0 - 8.0 */
  animation: nav-animation-forward 0.3s ease-in-out;
  animation-timing-function: ease-in-out;
  height: 50px;
}

.nav-animation-backward{
  -webkit-animation: nav-animation-backward 0.20s linear; /* Safari 4.0 - 8.0 */
  animation: nav-animation-backward 0.20s ease-in-out;
  animation-timing-function: ease-in-out;
  height: 78px;
}

#logos-container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
#whole-logo-container{
  position: absolute
}

#solo-logo-container{
  display: none;
  /* opacity: 0; */
  position: absolute;

}


#solo-logo {
  width: 70px;
  padding-top: 15%;
  /* opacity: 0; */
  /* display: none; */
  
}



.whole-logo-hide{
  
  /* transition: 0.35s; */

  -webkit-animation: whole-logo-hide 2.5s linear; /* Safari 4.0 - 8.0 */
  animation: whole-logo-hide 0.2s ease-in-out;
  animation-timing-function: ease-in-out;
  /* display: none; */
  /* transform: translateX(100%); */
  opacity: 0;
}
.whole-logo-reveal{
  -webkit-animation: whole-logo-reveal 2.5s linear; /* Safari 4.0 - 8.0 */
  animation: whole-logo-reveal 0.2s ease-in-out;
  animation-timing-function: ease-in-out;
  /* display: none; */
}

.solo-logo-reveal{
  display: block !important;
  /* opacity: 0; */
  /* transform: translateX(-160%); */
  
  
  -webkit-animation: solo-logo-reveal 2.5s linear; /* Safari 4.0 - 8.0 */
  animation: solo-logo-reveal 0.2s ease-in-out;
  animation-timing-function: ease-in-out;
}

.solo-logo-hide{
  opacity: 0;
  -webkit-animation: solo-logo-hide 2.5s linear; /* Safari 4.0 - 8.0 */
  animation: solo-logo-hide 0.2s ease-in-out;
  animation-timing-function: ease-in-out;
}

#tech{
  font-size: 25px;
  font-weight: bold;

}
#mvrg-logo{
  /* width: 80px; */
  height: 80px;

}
/* info@mvrg.com */
#info-link a:link{
color: blue;
text-decoration: none;
}
#info-link a:visited{

}
#info-link a:hover{  
  opacity: 0.85;
  text-decoration: underline;
}
#info-link a:active{  

  text-decoration: underline;
}

/* footer */
#footer-container{
  text-align: center;
  margin-top: 100px;
  font-size: 12px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 750px) {
  .modal {
    overflow: auto !important;
  }
  .modal-content {
    width: 250px;
    max-width: 100%;
  }
  #main-header {
    font-size: 21px;
     
  }

  .demo-container-children {
    height: 510px;
  }

  #main-container{
    margin-top: 20%;
  }

 
}

hr {
  width: 65%;
  -webkit-animation: expand 1.5s linear; /* Safari 4.0 - 8.0 */
  animation: expand 1.5s linear;
  animation-timing-function: ease-in-out;
}

/* media query */
/* iphone 5 */
@media only screen and (max-width: 320px) and (max-height: 568px) {
  .demo-container-children p {
    font-size: 13px;
  }
  .modal {
    overflow: auto !important;
  }
}

/* Pixel 2XL & iPhone X*/
@media only screen and (max-width: 823px) and (max-height: 411px) {
  .modal {
    overflow: auto !important;
  }
  .modal-content {
    width: 200px;
    max-width: 100%;
  }
}

/* hr elements */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

/* Standard syntax */
@keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

@keyframes moveup{
  from {
    bottom: 0px;
  }
  to {
    bottom: 10px;
  }
}

@keyframes movedown{
  from {
    bottom: 10px;
  }
  to {
    bottom: 0px;
  }
}

/* button elements */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes button-expand {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 100px;
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes button-expand {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 100px;
    opacity: 1;
  }
}

/* animate main logo to the right and opacity 0 it */
@keyframes whole-logo-hide {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50%{
    /* opacity: 0.8; */
  }
  100% {
    transform: translateX(10%);
    opacity: 0;

   
  }
}

@keyframes whole-logo-reveal {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  50%{
    /* opacity: 0.8; */
  }
  100% {
    transform: translateX(0%);
    opacity: 1;

   
  }
}

@keyframes solo-logo-reveal {
  0% {
    
    transform: translateX(100%);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
   
  }
}

@keyframes solo-logo-hide {
  0% {
    
    transform: translateX(0);
    opacity: 1;
  }
  
  100% {
    transform: translateX(100%);
    opacity: 0;
   
  }
}

@keyframes nav-animation-forward {
  0% {
    height: 78px;
    
  }
  
  100% {
    height: 50px;
   
  }
}

@keyframes nav-animation-backward{
  0% {
    height: 50px;
    
  }
  
  100% {
    height: 78px;
   
  }
}